@*
*@
@{
<div class="form-group">
    <select id="select-search" class="form-control" style="background-color:white;">
        <option value="Cosmos" selected>Cosmos DB</option>
        <option value="Table">Storage Table</option>
        <option value="Blob">Storage Blob</option>
         <option value="SQL">SQL database</option> 
    </select>
</div>
}